apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wordpress
resources:
  - namespace.yaml
  - secret-sync.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

