apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: metallb-config
  namespace: flux-system
spec:
  interval: 2m0s
  path: ./clusters/default/infrastructure/metallb/config
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  retryInterval: 30s
  timeout: 5m0s

